{{page-title "JC Resume"}}
<div style="text-align: center;">
  <h1>Resume</h1>
  <h2>Jaimie Carter</h2>
</div>
<div style="padding-inline: 20%;">
  <LinkTo @route="experience" style="padding-right:3%;">Experience</LinkTo>
  <LinkTo @route="education" style="padding-right:3%;">Education</LinkTo>
  <LinkTo @route="technology" style="padding-right:3%;">Technology</LinkTo>
  <LinkTo @route="projects" style="padding-right:3%;">Projects</LinkTo>
  {{outlet}}
</div>